.DayPicker {
  font-family: sans-serif;
}

.DayPicker__horizontal,
.DayPicker__withBorder {
  box-shadow: none;
}

.CalendarDay__selected_start,
.CalendarDay__selected_start.CalendarDay__selected_span,
.CalendarDay__selected_start:hover {
  background: #00a699;
  border: 1px double #00a699;
  color: #fff;
}
