$blue: #147e9d !default;
$grey: #343434 !default;
$light-grey: #a3a3a3 !default;
$ultra-light-grey: #ececec !default;

$selectionColor: $blue !default;
$dropdownBorder: $light-grey !default;

$rangeButtonText: $grey !default;
$rangeButtonBackground: $ultra-light-grey !default;
$rangeButtonBackgroundHover: $blue !default;

$paginationArrowHover: $ultra-light-grey !default;

$monthHeaderBackground: $light-grey !default;
$weekdayHeadingText: $grey !default;
$dateText: $light-grey !default;
$dateTextHighlighted: $grey !default;

$image-path: "/images" !default;

$break-small: 660px !default;
$break-medium: 980px !default;
$break-large: 1300px !default;
$break-extra-large: 1920px !default;

@mixin respond-to($media) {
    @if $media == handhelds {
        @media only screen and (max-width: $break-small) { @content; }
    }
    @else if $media == medium-screens {
        @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium - 1) { @content; }
    }
    @else if $media == medium-screens-up {
        @media only screen and (min-width: $break-small + 1) { @content; }
    }
    @else if $media == medium-wide-screens {
        @media only screen and (min-width: $break-small) { @content; }
    }
    @else if $media == wide-screens {
        @media only screen and (min-width: $break-medium) { @content; }
    }
    @else if $media == extra-wide-screens {
        @media only screen and (min-width: $break-large) { @content; }
    }
}
